@keyframes colorchange
{
	100%{background-color: white;}

}


body{
	
	margin: 0px;
	color: white;
	background-color: black;
	background-image: url('background2.jpg');
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;

}

@keyframes curse{
	100% {
		stroke-dashoffset: 0;
	}
}

@keyframes anim{
	0%{
		width: 100%;
	}
	
	100%{
		width: 0px;
		height: 0px;
		display: none;
	}
}


#cur1{
	stroke-dasharray: 500;
	stroke-dashoffset: 500;
	stroke-width: 80;
	animation: curse .6s linear forwards;
	stroke: white;
}

#cur2{
	stroke-dasharray: 500;
	stroke-dashoffset: 500;
	stroke-width: 50;
	animation: curse .6s linear forwards 0.6;
	stroke: white;
}


#myp{
	stroke-dasharray: 1800;
	stroke-dashoffset: 1800;
	stroke-width: 80;
	animation: curse .6s linear forwards 1;
	animation-delay: 0.5s;
	stroke: white;
}

#pp{
	stroke-dasharray: 1000;
	stroke-dashoffset: 1000;
	stroke-width: 80;
	animation: curse .6s linear forwards 0.7;
	animation-delay: 0.8s;
	stroke: white;
}


#ortfp
{
	stroke-dasharray: 1800;
	stroke-dashoffset: 1800;
	stroke-width: 80;
	animation: curse .6s linear forwards 1;
	animation-delay: 1s;
	stroke: white;
}

#oliop{
	stroke-dasharray: 1800;
	stroke-dashoffset: 1800;
	stroke-width: 80;
	animation: curse .6s linear forwards 1;
	animation-delay: 1.5s;	
	stroke: white;
}
#dotp
{
	stroke-dasharray: 1800;
	stroke-dashoffset: 1800;
	stroke-width: 30;
	animation: curse .6s linear forwards 1;
	stroke: white;
}

.welcomecontainer
{
	height: 100vh;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	
	animation: anim forwards;
	animation-duration: 2s;
	align-items: center;
	animation-delay: 3s;

}
.welcome
{
	margin: 0px;
	color: white;
	font-size: 160px;
	font-weight: bold;
	margin-top: 250px;
	
}
.svgcontainer
{
	
	width: 500px;
	margin: auto;
}
.navbar
{
	padding: 20px;
	display: flex;
	justify-content: flex-end;
}

.option{
	padding: 20px 80px;

}
.option a{
	color: white;
	text-decoration: none;
	font-size: 22px;
	border: 2px solid white;
	padding: 5px 10px;
}

.introductioncontainer
{
	height: 100vh;
	margin-top: 20px;
	display: flex;
	justify-content: space-around;
}




@keyframes shake{
	
	100%{
		width: 800px;	
		
	}
}

@keyframes imagetrans{
	100%{

	}
}

.introduction{
	width: 0px;
	white-space: nowrap;
	overflow: hidden;
	animation: shake forwards;
	animation-delay: 4s;
	animation-duration: 1.5s;
}

.greeting{
	
	font-size: 80px;
	margin: 0px;
	font-family: GT Super Display, Georgia, Serif, brush script std,  brush script mt;
	
}


@keyframes greetingdisappear{
	100%{
		width: 0px;
		height: 0px;
	}
}
@keyframes namesize{
	100%{
		font-size: 40px;
	}
}

#mayank{
	margin: 0px;
	margin-top: 30px;
	font-size: 108px;
	font-family: fantasy;
	animation: namesize forwards;
	animation-duration: 1s;
	animation-delay: 5.5s;
	
}
.greeting
{
	height: 100px;
	overflow: hidden;
	animation: greetingdisappear forwards;
	animation-duration: 1s;
	animation-delay: 5.5s;

}

@keyframes nice
{

	30%{width: 800px;height: 100px;}
	70%{width: 800px; height: 100px;}
	100%{width: 0px;  height: 0px;}
}

.nicetoseeyou
{
	height: 0px;
	margin: 0px;
	font-size:80px;
	width: 0px;
	overflow: hidden;
	animation: nice forwards;
	animation-duration: 1.8s;
	animation-delay: 6s;
}


.imagecontainer
{
	height: 550px;
	width: 400px;
	overflow: hidden;

}

.imagecontainer img
{
	max-height: 550px;
}

@keyframes vis{
	100%{width: 800px;}
}

.about1{
	overflow: hidden;
	margin-top: 10px;
	width: 0px;
	font-size: 25px;
	animation: vis forwards;
	animation-delay: 14s;
	animation-duration: 1s;
}
@keyframes type{
	0%{opacity: 0;}
	100%{opacity: 1;}
}

.textwriting{

	font-size: 100px;
	animation: type 1s infinite, resizetext 1s 14s forwards;
	
}


@keyframes resizetext{
	100%{font-size: 30px;}
}

.blog{
	white-space: normal;
	font-size: 50px;
	line-height: 30px;	

}

@keyframes boxanim{
	100% {
		stroke-dashoffset: 0;
	}
}

#Layer2{
	width: 1000px;
	position: absolute;
	top: 80px;
	z-index: -1;
}

#squarep{
	stroke-dasharray: 10000;
	stroke-dashoffset: 10000;
	stroke-width: 40;
	animation: boxanim 6.8s  14s linear forwards;
	stroke: turquoise;
}

@keyframes worklink{
	100%{
		opacity: 1;
	}
}


.worklink a{
	display: inline-block;
	margin: 20px;
	opacity: 0;
	text-decoration: none;
	padding: 10px;
	background-color: white;
	font-size: 30px;
	color: black;
	animation: worklink forwards;
	animation-delay: 22s;
	animation-duration: 1s;
	transition: 0.5s;
}


.worklink a:hover
{
	
	transform: scale(1.1);
}

.works{
	margin: auto;
	
	width:80%;
	opacity: 0;
	background-color: white;
	height: 200vh;
	transition: 1s;
	overflow: hidden;
}

.letssee{
	position: fixed;
	top: 10%;
	left: 50%;
	color: black;
	font-size: 60px;
	transform: translate(-50%, -50%);
	font-family: Fantasy, Georgia;
}

.education{

	width: 80%;
	margin: auto;
	margin-top: 50px;
	background-color: aqua;
	opacity: 0.8;
	height: 100vh;
}