html {
  scroll-behavior: smooth;
}

@keyframes colorchange
{
	100%{background-color: white;}

}


body{
	
	margin: 0px;
	color: white;
	background-color: black;
	background-image: url('background2.jpg');
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;

}

@keyframes curse{
	100% {
		stroke-dashoffset: 0;
	}
}

@keyframes anim{
	0%{
		width: 100%;
	}
	
	100%{
		width: 0px;
		height: 0px;
		display: none;
	}
}

#Layer_1{
	width: 300px;
	justify-content: center;
	align-items: center;
}

#cur1{
	stroke-dasharray: 500;
	stroke-dashoffset: 500;
	stroke-width: 80;
	animation: curse .6s linear forwards;
	stroke: white;
}

#cur2{
	stroke-dasharray: 500;
	stroke-dashoffset: 500;
	stroke-width: 50;
	animation: curse .6s linear forwards 0.6;
	stroke: white;
}


#myp{
	stroke-dasharray: 1800;
	stroke-dashoffset: 1800;
	stroke-width: 80;
	animation: curse .6s linear forwards 1;
	animation-delay: 0.5s;
	stroke: white;
}

#pp{
	stroke-dasharray: 1000;
	stroke-dashoffset: 1000;
	stroke-width: 80;
	animation: curse .6s linear forwards 0.7;
	animation-delay: 0.8s;
	stroke: white;
}


#ortfp
{
	stroke-dasharray: 1800;
	stroke-dashoffset: 1800;
	stroke-width: 80;
	animation: curse .6s linear forwards 1;
	animation-delay: 1s;
	stroke: white;
}

#oliop{
	stroke-dasharray: 1800;
	stroke-dashoffset: 1800;
	stroke-width: 80;
	animation: curse .6s linear forwards 1;
	animation-delay: 1.5s;	
	stroke: white;
}
#dotp
{
	stroke-dasharray: 1800;
	stroke-dashoffset: 1800;
	stroke-width: 30;
	animation: curse .6s linear forwards 1;
	stroke: white;
}

.welcomecontainer
{
	height: 100vh;
	line-height: 0px;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	justify-content: center;
	margin: 0px;
	animation: anim forwards;
	animation-duration: 2s;
	align-items: center;
	animation-delay: 3s;

}
.welcome
{
	margin: 0px;
	color: white;
	font-size: 160px;
	font-weight: bold;
	margin-top: 250px;
	
}

.svgcontainer
{
	
	width: 500px;
	margin: auto;
}

.navbarbutton{
	display: none;
	overflow: hidden;
	position: fixed;
	top: 0%;
	padding: 10px;
}

.navbarbutton button{

	border: none;
	background-color: transparent;
	color: grey;
	font-size: 30px;
}
.closenavbar{
	display: none;
	overflow: hidden;
	
	padding: 10px;
}
.closenavbar button{
	border: none;
	background-color: transparent;
	color: grey;
	font-size: 30px;

}
.navbar
{

	padding: 20px;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	
}

.option{
	padding: 20px 20px;

}
.option a{
	color: white;
	text-decoration: none;
	font-size: 22px;
	border: 2px solid white;
	padding: 5px 10px;
}

.firstpage{
	margin: 0px;
	background-color: black;
	min-height: 100vh;
}
.introductioncontainer
{
	
	margin-top: 0px;
	padding-top: 30px;
	display: flex;

	justify-content: space-around;
	flex-wrap: wrap;
}




@keyframes shake{
	
	100%{
		width: 800px;	
		
	}
}

@keyframes imagetrans{
	100%{

	}
}

.introduction{
	
	width: 0px;
	white-space: nowrap;
	overflow: hidden;
	animation: shake forwards;
	animation-delay: 4s;
	animation-duration: 1.5s;
}

.greeting{
	
	font-size: 80px;
	margin: 0px;
	font-family: GT Super Display, Georgia, Serif, brush script std,  brush script mt;
	
}


@keyframes greetingdisappear{
	100%{
		width: 0px;
		height: 0px;
	}
}
@keyframes namesize{
	100%{
		font-size: 40px;
	}
}

#mayank{
	margin: 0px;
	margin-top: 30px;
	font-size: 108px;
	font-family: fantasy;
	animation: namesize forwards;
	animation-duration: 1s;
	animation-delay: 5.5s;
	
}
.greeting
{
	height: 100px;
	overflow: hidden;
	animation: greetingdisappear forwards;
	animation-duration: 1s;
	animation-delay: 5.5s;

}

@keyframes nice
{

	30%{width: 800px;height: 100px;}
	70%{width: 800px; height: 100px;}
	100%{width: 0px;  height: 0px;}
}

.nicetoseeyou
{
	height: 0px;
	margin: 0px;
	font-size:80px;
	width: 0px;
	overflow: hidden;
	animation: nice forwards;
	animation-duration: 1.8s;
	animation-delay: 6s;
}


.imagecontainer
{
	
	width: 400px;
	overflow: hidden;

}

.imagecontainer img
{
	max-height: 550px;

}

@keyframes vis{
	100%{opacity: 1;}
}

.about1{
	overflow: hidden;
	opacity: 0;
	margin-top: 10px;
	width: 800px;
	font-size: 25px;
	animation: vis forwards;
	animation-delay: 14s;
	animation-duration: 1s;
}
@keyframes type{
	0%{opacity: 0;}
	100%{opacity: 1;}
}

.textwriting{

	font-size: 100px;
	animation: type 1s infinite, resizetext 1s 14s forwards;
	
}


@keyframes resizetext{
	100%{font-size: 30px;}
}

.blog{
	white-space: normal;
	font-size: 40px;
	font-family: arial;
	background-color: transparent;
}

@keyframes boxanim{
	100% {
		stroke-dashoffset: 0;
	}
}

#Layer2{
	width: 1000px;
	position: absolute;
	top: 80px;
	z-index: -1;
}

#squarep{
	stroke-dasharray: 10000;
	stroke-dashoffset: 10000;
	stroke-width: 40;
	animation: boxanim 6.8s  14s linear forwards;
	stroke: turquoise;
}




@keyframes worklink{
	100%{
		opacity: 1;
	}
}


.worklink a{
	display: inline-block;
	margin: 20px;
	opacity: 0;
	text-decoration: none;
	padding: 10px;
	background-color: white;
	font-size: 30px;
	color: black;
	animation: worklink forwards;
	animation-delay: 15s;
	animation-duration: 1s;
	transition: 0.5s;
}


.worklink a:hover
{
	
	transform: scale(1.1);
}

.works{
	margin: auto;
	margin-top: 20px;
	padding: 50px;
	padding-top: 150px;
	
	width:80%;
	opacity: 0;
	background-color: white;
	
	transition: 1.8s;
	overflow: hidden;
}

.works .heading{
	color: black;
	padding: 10px;
	border-bottom: 3px solid grey;	
}
.letssee, .letssee2{
	position: fixed;
	z-index: 3;
	top: 0%;
	left: 50%;
	transform: translateX(-50%);
	color: black;
	font-size: 60px;
	background-color: white;
	font-family: Fantasy, Georgia;
}
.letssee2{
	z-index: 1;
	height: 100px;
	width: 80%;
	
}
.workcontainer:nth-child(odd) {
  margin: 50px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.workcontainer:nth-child(even) {
  margin: 50px;
   display: flex;
   justify-content: space-between;
  flex-direction: row-reverse;
}


.workimagecontainer img{
	max-width: 450px;
}


.workaboutcontainer .heading2{
	color: black;
	font-style: italic;
	text-align: center;
}
.workaboutcontainer .subheading{
	color: grey;
	text-align: center;
}
.workaboutcontainer p
{
	padding: 0px 40px;	
	color: black;
	font-size: 20px;
	font-family: Georgia;
	line-height: 30px;
}
.workaboutcontainer ul{
	margin: 0px;
	font-size: 20px;
	color: black;
}

.workaboutcontainer button{
	display: none;
	padding: 10px;
	font-size: 15px;
	background-color: rgb(50, 250, 100);
	color: white;
}
.contact{
	background-color: white;
	width: 400px;
	text-align: center;
	margin: auto;
	margin-top: 20px;
	padding: 30px;
	color: black;
	opacity: 0.8;
}
.contact div{
	font-family:Georgia, 'Times New Roman', Times, serif;
	color:rgb(109, 108, 108);
	margin: 50px;
}

.contact img{
	height: 80px;

}

.experienceskill{
	opacity: 0;
	transition: 2s;
	display: flex;
	background-color: rgba(50, 140, 180, 0.7);
	width: 80%;
	margin: auto;
	margin-top: 40px;
	padding: 30px 0px;
	align-items: flex-start;
	justify-content: space-around;
}
.expheading{
	font-size: 25px;
	font-weight: bold;
}
.experience{
	margin: 30px;
	padding: 20px;
	border-radius: 20px;
	background-image: linear-gradient(90deg, rgba(50, 140, 190, 0.3), rgba(50, 140, 160, 0));
}
.experience p{
	max-width: 400px;
	font-size: 20px;
	margin: 10px;
}
.subheading{
	font-style: italic;

}
.allskillscontainer{
	width: 40%;
	
}
* {box-sizing:border-box}

/* Container for skill bars */
.skillcontainer {
  width: 100%; /* Full width */
  background-color: #ddd; /* Grey background */
}
.heading2{
	font-size: 25px;
	font-weight: bold;
}
.skill{
	background-color: white;
	
	padding: 20px;
	margin: 10px;
	border-radius: 10px 10px ;
}
.skill p{
	color: black;
}
.skills {
  text-align: right; /* Right-align text */
  padding-top: 0px; /* Add top padding */
  padding-bottom: 0px; /* Add bottom padding */
  color: white; /* White text color */
  font-size: 10px;
}

.skillheading{
	text-align: center;
	font-size: 40px;
	font-family: fantasy;
	color: white;
	padding: 10px;
	border-bottom: 3px solid white;
	margin-bottom: 20px;
}









.eduachieve{
	transition: 2s;
	width: 80%;
	margin: auto;
	display: flex;
	justify-content: space-between;
	margin-top: 50px;
	background-color: aqua;
	background-color: rgb(40, 184, 190, 0.9);
	
	
	padding: 50px;
	color: black;
	font-size: 20px;
	
	border-radius: 10px;
}

.achievementcontainer{
	color: white;
}
.education{
	position: relative;
	margin: 10px;
	background-color: white;
	opacity: 1;
	padding: 20px;
	border-radius: 0px 20px;
	font-family: Georgia;
}


.education:after {
    content: "";
    display: block;
    width: 0; 
    height: 0; 
    border-top: 12px solid transparent;
    border-bottom: 12px solid transparent;
    border-right: 12px solid white; 
    position: absolute;
   	top: 50%;
   	transform: translateY(-50%);
   	left: -10px	;
}



.education p{
	margin: 05px;
}
.heading{
	font-size: 30px;
	font-weight: 900;
}
.institute{
	font-style: italic;
}
.grade{

}

footer{
	margin-top: 30px;
	background-color: black;
	padding: 20px;
	display: flex;
	justify-content: space-around;
	
}
.footersection{
	

}
footer img{
	display: block;
	
	width: 800px;
}

.sections{

	padding: 20px;
	padding-left: 50px;
}
.sections a{
	font-family: arial, Georgia;
	text-decoration: none;
	font-size: 20px;
	color: white;
}

.copyright{
	font-family: arial;
	color: white;
	text-align: center;
	padding: 20px;
	background-color: black;
}
.html {width: 90%; background-color: #4CAF50;} /* Green */
.css {width: 80%; background-color: #2196F3;} /* Blue */
.js {width: 65%; background-color: #f44336;} /* Red */
.php {width: 60%; background-color: #808080;}

/*media*/
@media screen and (max-width: 1000px)
{
	#Layer2{
		display: none;
	}
	
}



@media screen and (max-width: 800px)
{
	@keyframes shake{
	
		100%{
			width: 600px;	
		
		}

	
	}
	
	.nicetoseeyou{
		font-size: 40px;
	}

	#mayank{
		font-size: 40px;
	}
	.greeting{
		height: 50px;
		font-size: 40px;
	}
	.about1{
		white-space: normal;
		width: 600px;
	}

	.introductioncontainer
	{
		
		align-items: center;
		flex-direction: column-reverse;
		justify-content: flex-end;
		
	}
	.blogcontainer{

		padding: 20px;
	}

	.workaboutcontainer p{
		height: 0px;

		overflow: hidden;
	}
	.workaboutcontainer button{
		display: block;
	}	
	.footersection img{
		width: 300px;
	}
}

@media screen and (max-width: 600px)
{

	.imagecontainer
	{
		width: 250px;
	}
	.imagecontainer img
	{
		width: 250px;	
	}

	@keyframes shake{
	
		100%{
			width: 100%;	
		
		}

	
	}
	.option{
		padding: 10px;
	}
	.option a{
		color: white;
		text-decoration: none;
		font-size: 15px;
		border: 2px solid white;
		padding: 5px 0px;
	}

	.about1{
		width: 300px;
	}
	
	.blogcontainer{
		
		padding: 10px;
	}

	.works, .letssee2{
		width: 90%;
	}

	.contact{
	
		width: 300px;
		padding: 0;
	}
	.introduction{
		padding: 10px;
	}
}



@media screen  and  (max-width: 1000px)
{	
	.welcome{
		font-size: 50px;
	}

	.navbarbutton{
		display: block;
	}

	.closenavbar{
		display: block;
		position: absolute;
		top: 0%;
		right: 0%;
	
	}

	.navbar{
		position: fixed;
		z-index: 3;
		top:0%;
		height: 100vh;
		background-color: black;
		width: 70%;
		flex-direction: column;
		justify-content: flex-start;
		display: none;
	}
	.option a{
	
	
	
		border: none;
		padding: 5px 0px;
	}
	.letssee{
	
		font-size: 25px;
	
	}


	footer{
		flex-wrap: wrap-reverse;
	}

}




@media screen and (max-width: 1500px)
{
	.workimagecontainer img{
		width: 380px;
	}
	.introductioncontainer
	{
		
		align-items: center;

	}
	.introduction{
		
		margin-top: 0px;
	}

	.experienceskill{
		flex-direction: column;
		align-items: center;
		padding: 20px 0px;
	}


	.eduachieve{
		flex-direction: column;
		align-items: center;
		padding: 20px 0px;
	}
	.allskillscontainer{
		width: 80%;
	}
}



@media screen and (max-width: 500px)
{
	.introductioncontainer{
		padding: 5px;
	}
	.imagecontainer
	{
		width: 200px;
	}
	.imagecontainer img
	{
		width: 200px;	
	}

	@keyframes shake{
	
		100%{
			width: 100%;	
		
		}

	
	}

	@keyframes namesize{
		100%{
			font-size: 20px;
		}
	}

	#mayank, .greeting{
		font-size: 25px;
	}
	.option{
		padding: 10px;
	}
	
	.textwriting{
		font-size: 20px;
	}
	.about1{
		width: 300px;
		font-size: 15px;
	}
	.blog{
		font-size: 20px;
	}
	.blogcontainer{
		margin: 0px;
	}
	.nicetoseeyou{
		font-size: 20px;
	}

	.heading2{
		font-size: 20px;
	}
	.workimagecontainer img{
		width: 260px;
	}

	.experienceskill{
		width: 95%;
		justify-content: center;

	}
	.experiencecontainer{
		padding: 10px 5px;
	}
	.allskillscontainer{
		width: 100%;
	}
	.skillheading{
		font-size: 25px;
	}
	.expheading{
		font-size: 22px;
	}
	.experience{
		padding: 10px 5px;
		margin: 10px 0px;
		
	}
	.experience p{
		font-size: 16px;
	}
	.eduachieve{
		padding: 10px 5px;
		width: 95%;
	}
	.educationcontainer{
		margin: 10px 5px;
	}
	.education{
		
		padding: 10px 0px;
	}
	.education p{
		font-size: 15px;
			
	}
}
@media screen and (max-width: 1200px)
{


	.works{
		width: 90%;
		padding: 20px 10px;
	}
	.letssee2{width: 90%;}
	.workcontainer:nth-child(odd) {
  	
	  	margin: 0px;
	  	display: flex;
	  justify-content: center;
	  flex-direction: column;
	  padding: 0px;
	  
	  margin-top: 40px;
}

.workcontainer:nth-child(even) {
		margin: 0px;
	  	padding: 0px;	
	  	
	   display: flex;
	   justify-content: center;
	  flex-direction: column;
	  margin-top: 40px;
}
	.workimagecontainer  {
		display: block;
		justify-content: center;
		text-align: center;
		

	}
	.workaboutcontainer p
	{
		padding: 0px 10px;	
		color: black;
		font-size: 15px;
		font-family: Georgia;
		line-height: 30px;
	}
	.heading{
		font-size: 20px;
	}
	
}