body{
	margin: 0;
	scroll-behavior: smooth;
	background-color: rgb(245, 245, 245);
	background-repeat: no-repeat;
	background-size: cover;
}
.navbar{
	position: absolute;
	width: 100%;	
	z-index: 2;
	background-color: rgb(10, 10, 30);
	box-shadow: 4px 10px 10px gray;
	padding: 20px 0px;
}
.nav_option{
	margin-left: 70px;
	display: inline-block;
}

.nav_option_anchor{
	font-size: 18px;
	color: rgb(200, 200, 200);
	font-family: Raleway  ;
	text-decoration: none;
}

.mainpageplaceholder{
	top: 50px;
	display: flex;
	height: 100vh;
	overflow: hidden;
	transition-duration: 0.8s;
}


.image{
	margin-left: 10px;
	background-color: white;
	display: inline-block;
	overflow: hidden;
}

.profile{
	padding: 10vh 5vh;
	width: 20%;
	height: 80vh;
	background-color: white;
	box-shadow: 3px 2px 14px gray;
}

.image img{
	width: 100%;
	
}

.mainpage{
	width: 80%;
	position: relative;
	margin-top: 50px;
}

.nameholder{
	
	display: flex;
	margin-top: 40px;
	align-items: center;
	justify-content: center;
}

.name{

	font-size: 75px;
	color: rgb(60, 60, 60);
	font-family: Raleway, sans-serif;
}
.name_bottom{
	line-height: 35px;
	font-size: 25px;
	color: rgb(60, 60, 60);
	font-family: Raleway, sans-serif;
}

.nav_section_holder{
	margin: 20px;
}
.center_child{
	display: flex;
	justify-content: center;
	align-items: center;
}
.nav-options-holder{
	display: flex;

}
.nav-options-card-holder{
	
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 20px;
	width: 00px;
	height: 00px;
	border-radius: 100%;
	border: 3px solid ;
	padding: 50px;
	background-color: white;
	box-shadow: 0px 0px  5px 5px rgb(200, 200, 200);
}
.nav-options-card{
	
	font-size: 25px;
	font-family: Raleway, sans-serif;
	flex-wrap: wrap;
	
}

.bar1{
	background-color: skyblue;
	height: 50px;
	width: 50%;
	box-shadow: 4px 4px 10px rgb(40, 40, 40);
	position: relative;
	z-index: 10;
}

.bar2{
	position: relative;
	z-index: 9;
	background-color: #52B2BF;
	height: 50px;
	width: 75%;
	box-shadow: 4px 4px 4px rgb(40, 40, 40);
}

.bar3{
	position: relative;
	z-index: 8;
	background-color: #0492C2;
	height: 50px;
	width: 70%;
	box-shadow: 4px 4px 4px rgb(40, 40, 40);
}
.bar4{
	position: relative;
	z-index: 7;
	background-color: #3944BC;
	height: 50px;
	width: 80%;
	box-shadow: 4px 4px 4px rgb(40, 40, 40);
}

.bar5{
	position: relative;
	z-index: 6;
	background-color: #1537a6;
	height: 50px;
	width: 50%;
	box-shadow: 4px 4px 4px rgb(40, 40, 40);
}

.bar6{
	position: relative;
	z-index: 5;
	background-color: #122872;
	height: 50px;
	width: 60%;
	box-shadow: 4px 4px 4px rgb(40, 40, 40);
}


.bar7{
	position: relative;
	z-index: 4;
	background-color: #021b52;
	height: 50px;
	width: 80%;
	box-shadow: 4px 4px 4px rgb(40, 40, 40);
}
.aboutflash{
	position: absolute;
	top:0px;
	height: 100vh;
	background-color: white;
	right: 0px;
	width: 0px;
}

.sidebar{
	padding: 0px;
	position: fixed;
	right: -200px;
	top: 50vh;
	transform: rotate(-90deg);

	display: flex;
	display: none;
}
.sidebar_card{
	font-family: Raleway;
	border-radius: 18px 18px 0px 0px;
	border: 2px solid black;
	box-shadow: -5px -5px 5px gray;
	padding: 10px;
	background-color: white;
	position: relative;
}



.skills-page{
	display: flex;
	height: 100vh;
	align-items:  center;

}

.skill-bar-holder{


	width: 0%;
	transition-duration: 1s;
}

.skill-bar-holder-animate{
	width: 80%;	
}
.education-image-container{
	background-color: skyblue;
	position: relative;
	height: 100vh;
}
.education-image{
	width: 100%;
	position: absolute;
	bottom: 0px;
}